<nav class="navbar-expand navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand ml-2" href="/">
            <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
            Taskmaster
        </a>
        <span class="navbar-text"><%= version %></span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= user.username %></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <% if(user.admin) { %>
                        <a class="dropdown-item" href="/users">Users</a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <a class="dropdown-item" href="/account">Account</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>