<%- include('./partials/navbar.ejs'); %>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3"><%= user.username %> Account Settings</h1>
                <%- include('./partials/messages.ejs'); %>
                <form action="/account/password" method="POST">
                    <div class="form-group">
                        <label for="password">Current Password</label>
                        <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Current Password"
                        />
                    </div>
                    <div class="form-group">
                        <label for="npassword">New Password</label>
                        <input
                        type="password"
                        id="npassword"
                        name="npassword"
                        class="form-control"
                        placeholder="New Password"
                        />
                    </div>
                    <div class="form-group">
                        <label for="npassword2">Confirm Password</label>
                        <input
                        type="password"
                        id="npassword2"
                        name="npassword2"
                        class="form-control"
                        placeholder="Confirm Password"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Change Password
                    </button>
                </form>
                <form action="/account/preferences" method="POST" class="mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="use24Hour" name="use24Hour" <%= (user.use24Hour) ? 'checked' : '' %>>
                        <label class="form-check-label" for="use24Hour">Use 24 hour time</label>
                      </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Update preferences
                    </button>
                </form>
                <a class="btn btn-danger btn-block mt-2" href="/account/delete">Delete Account</a>
            </div>
        </div>
    </div>
</div>