<%- include('./partials/navbar.ejs'); %>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3">Account Deletion</h1>
                <%- include('./partials/messages.ejs'); %>
                <form action="/account/delete" method="POST">
                    <p>To delete your account please enter your password, check the checkbox, and click the "Delete Account" button. <strong>Note: this process is irreversible!</strong></p>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter Password"
                        />
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="confirm" name="confirm" value=true>
                        <label class="form-check-label text-danger" for="confirm"> *I understand that this process is irreversible and I will lose all my data!</label>
                      </div>
                    <button type="submit" class="btn btn-danger btn-block">
                        Delete Account
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>