<%- include('./partials/navbar.ejs'); %>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Add User</h1>
                <%- include('./partials/messages.ejs'); %>
                <form action="/users/register" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input 
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            placeholder="Enter Username"
                            value="<%= typeof username != 'undefined' ? username : '' %>"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter Password"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password2">Confirm Password</label>
                        <input 
                            type="password"
                            id="password2"
                            name="password2"
                            class="form-control"
                            placeholder="Confirm Password"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Add User</button>
                </form>
            </div>
        </div>
    </div>
</div>