<%- include('./partials/navbar.ejs'); %>
<%- include('./partials/messages.ejs'); %>

<div class="container mt-2">
    <a href="/users/register" class="btn btn-success m-1 mb-2">Add User</a>
    <% if(typeof users != 'undefined') { %>
        <% users.forEach(function(user) { %>
            <div class="container-fluid bg-dark rounded p-2 mb-2">
                <p class="m-0 d-inline">
                    <%= user.username %> 
                    <% if(user.admin) { %>
                        ( admin )
                    <% } %>
                </p>
                <a href="/users/<%= user._id %>/delete" class="btn btn-danger btn-sm p-0 float-right m-0 d-inline pl-2 pr-2">Delete</a>
                <a href="/users/<%= user._id %>/perms" class="btn btn-warning btn-sm p-0 float-right m-0 d-inline pl-2 pr-2 mr-1">Perms</a>
                <a href="/users/<%= user._id %>" class="btn btn-info btn-sm p-0 float-right m-0 d-inline pl-2 pr-2 mr-1">View</a>
            </div>
        <% }); %> 
    <% } %>
</div>