<%- include('./partials/navbar.ejs'); %>
<%- include('./partials/messages.ejs'); %>

<div class="container mt-2">
    <div>
        <h1 class="d-inline"><%= username %></h1>
        <a class="float-right d-inline btn btn-sm btn-success m-3" href="/users">Back to Users</a>
    </div>
    <% if(typeof tasks != 'undefined') { %>
        <% if(tasks.length > 0) { %>
            <hr class="hr-text" data-content="TASKS" />
            <% tasks.forEach(function(task) { %>
                <div class="container-fluid bg-dark rounded p-2 mb-2">
                    <p class="m-0 d-inline">
                        <%= task.task %> 
                    </p>
                    <% if(task.groupName) { %>
                        <p class="m-0 d-inline float-right">
                            (<%= task.groupName %>)
                        </p>
                    <% } %>
                </div>
            <% }); %>
        <% } %>
    <% } %>
    <% if(typeof days != 'undefined') { %>
        <% if(days.length > 0) { %>
            <% days.forEach(function(day) { %>
                <hr class="hr-text-date" data-content="<%= day.date.year %>-<%= day.date.month+1 %>-<%= day.date.day %>" />
                <% if(day.plan.length > 0) { %>
                    <% day.plan.forEach(function(item) { %>
                        <div class="container-fluid bg-info rounded p-2 mb-2">
                            <p class="m-0 d-inline">
                                <%= item.task %> 
                            </p>
                            <p class="m-0 d-inline float-right">
                                <%= item.time %>
                            </p>
                        </div>
                    <% }); %>
                <% } %>
                <% if(day.completed.length > 0) { %>
                    <% day.completed.forEach(function(item) { %>
                        <div class="container-fluid bg-warning rounded p-2 mb-2">
                            <p class="m-0 d-inline">
                                <%= item.task %> 
                            </p>
                        </div>
                    <% }); %>
                <% } %>
            <% }); %>
        <% } %>
    <% } %>
</div>