.dropdown-menu {
  z-index: 1030;
}

.clock {
  overflow: hidden;
  display: inline;
}

.clockColumn,
.clockColon {
  display: inline-block;
  vertical-align: top;
}

.clockColumn {
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.clockColon {
  margin-left: 4px;
  margin-right: 4px;
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}
.clockColon:after {
  content: ':';
}

.num {
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  line-height: 1.5em;
  height: 1em;
}

.amPm {
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  line-height: 1em;
  height: 0.75em;
  font-size: calc(0.9375rem / 1.5);
}

.clockMain {
  margin-top: 22px;
  max-height: 44px;
  text-align: center;
}

.planTask {
  opacity: 0.5;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 .5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #222;
}

.hr-text-date {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text-date:before {
  content: '';
  background: linear-gradient(to right, transparent, #4e85a3, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text-date:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;

  padding: 0 .5em;
  line-height: 1.5em;
  color: #4e85a3;
  background-color: #222;
  font-size: large;
}

.timeline {
  position: absolute;
  width: 100%;
  z-index: 25;
}

.halfhour {
  position: relative;
  border-top: 1px solid #FFF;
  width: 100%;
  height: 3em;
  z-index: 25;
}

.right-border {
  border-right: 1px solid #777;
  padding-right: 4px !important;
}

.arrow-total {
  overflow: visible;
  z-index: 1000 !important;
  position: relative;
}

.arrow {
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid #009E00;
  margin-top: -5px;
}

.arrow-line {
  position: absolute;
  height: 1px;
  width: calc(100% - 9px);
  left: 9px;
  border-bottom: 1px solid #00BB00;
  border-top: 1px solid #00BB00;
  margin-top: 4px;
}

.timeline-item {
  position: relative;
  z-index: 700;
  opacity: 0.9;
  display: inline-block;
  margin-right: 1px !important;
}

.scrollWindows {
  overflow-y: auto;
  height: calc(100vh - 95px);
}

.scrollFull {
  position: relative;
}

.relative {
  position: relative;
  height: calc(3em * 48);
}

.absolute {
  position: absolute;
  width: calc(100% - 40px);
}

.absolutePlannedTask12H {
  position: absolute;
  width: calc(100% - 65px);
}

.absolutePlannedTask24H {
  position: absolute;
  width: calc(100% - 40px);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.calendar-container {
  position: relative;
  height: calc(100vh - 150px);
}

.calendar {
  position: relative;
  width: calc(100% / 7 - 0px);
  display: inline-block;
  border-bottom: 1px solid #FFF;
}

.calendar-top {
  text-align: center;
  height: 30px;
  font-size: large;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.calendar-item {
  border: 1px solid #FFF;
  height: calc(100% / 6);
  margin-top: -2px;
  margin-left: 2px;
}

.calendar-num {
  position: absolute;
  right: 7px;
  font-size: large;
  z-index: 100;
}

.calendar-content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}